/* prevent problems with different browsers*/
* {box-sizing: border-box;}

body {
    font-family: 'Libre Baskerville';
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* head stuff here*/
header {
    background-color: #2c3e50;
    color: #fff;
    padding: 48px;
    text-align: center;
}

header span {
    font-size: large;
    font-weight: 700;
}

header h1 {
    margin: 0;
    color: #dadfe3;
    font-size: 2rem;
}

/* navigation stuff*/

/* small screens*/
@media only screen and (max-width: 800px) {

.flex-container {
    display: flex;
    justify-content: space-between;
    /* Aligns items horizontally with space between them */
    align-items: center;
    /* Vertically centers the items */

}

.item {
    background-color: lightblue;
    /* Just for visual clarity */
    padding: 20px;
    margin: 10px;
}

nav {
    background-color: #557799;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px;
}

nav ul {
    list-style-type: none;
    padding: 0 48px;
    margin: 0;
    display: flex;
}

nav li {
    float: left;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    line-height: 48px;
    margin: 0 15px;
    text-transform: capitalize;
    display: flex;
    padding: 10px 20px;
}

nav li.active a {
    background-color: #024873;
    color: #eee5e5;
}

nav li a:hover {
    background-color: #1abc9c;
}

} /*end of the media query*/


@media only screen and (min-width: 801px) {

    nav {
        border-top: solid 1px #E0E6E6;
        
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        /* Aligns items horizontally with space between them */
        align-items: center;
        /* Vertically centers the items */
    
    }
    
    .item {
        background-color: lightblue;
        /* Just for visual clarity */
        padding: 20px;
        margin: 10px;
    }
    
    nav {
        background-color: #557799;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 48px;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0 48px;
        margin: 0;
        display: flex;
    }
    
    nav li {
        float: left;
    }
    
    nav a {
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        line-height: 48px;
        margin: 0 15px;
        display: flex;
        padding: 10px 20px;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 2px #fff;
    }
    
    nav li.active a {
        background-color: #024873;
        color: #eee5e5;
    }
    
    nav li a:hover {
        background-color: #1abc9c;
    }
    
    } /*end of the media query*/
    



/* main stuff*/

a:active {
    color: rgb(240, 240, 245);
    text-decoration: none;
}

a:visited {
    color: rgb(163, 163, 197);
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

main ul li {
    line-height: 125%;
    margin: .5rem;
    font-size: .9rem;
}

main h2 {
    color: #05334f;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
}

main ul {
    list-style-type: circle;
}

p {
    line-height: 48px;
}

section {
    padding: 40px;
    margin: 20px 0;
}

ol {
    display: table-column;
    list-style-type: decimal;
    /* Keeps the numbered list */
    padding: 0;
    margin: 0;
}

ol li {
    margin-right: 20px;
    /* Adds space between items */
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.service {
    flex: 1;
    min-width: 250px;
    padding: 20px;
    background-color: #ecf0f1;
    margin: 10px;
    border-radius: 8px;
}

dl1 {
    background-color: #1c0f57;
}

figure.wrapped {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}

figure.wrapped img {
    width: 100%;
    height: auto;
}

figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}

.VendAidhero {
    width: 100%;
    margin: 0;
}
.VendAidhero img {
    width: 100%;
    height: auto;
}



div.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure {
    margin: .5rem 2% 0 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #303ed3
}

/* footer stuff */
footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 20px;
    clear: both;
}
footer a {
    color: #430d99;
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}
